services:
  redis:
    container_name: redis
    image: redis:8
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    restart: always
    networks:
      - app_network

  pg:
    container_name: pg
    image: postgres:17
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=flashsale
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
    networks:
      - app_network

  worker:
    container_name: worker
    build:
      context: .
      dockerfile: ./apps/worker/Dockerfile
    restart: always
    environment:
      - NODE_ENV=production
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DATABASE_URL=postgresql://postgres:postgres@pg:5432/flashsale
    networks:
      - app_network
    depends_on:
      - pg
      - redis

  api:
    container_name: api
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    restart: always
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - PORT=3001
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    networks:
      - app_network
    depends_on:
      - pg
      - redis

  web:
    container_name: web
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - NODE_ENV=production
      - API_URL=http://api:3001
      - NEXT_PUBLIC_API_URL=http://api:3001
    networks:
      - app_network
    depends_on:
      - api

  k6:
    image: grafana/k6
    profiles: ["stresstest"]
    volumes:
      - ./infra/stress:/scripts
    # command: run /scripts/buy.test.js
    # command: run /scripts/flashsale.test.js
    command: run /scripts/big-flashsale.test.js
    environment:
      - API_URL=http://api:3001/sale/buy
    networks:
      - app_network
    depends_on:
      - redis
      - pg
      - worker
      - api

networks:
  app_network:
    driver: bridge

volumes:
  pgdata:
  redisdata:
